/venv
/assets
/output
/input
/py/output/
/py/assets/
/.venv
/.idea
/py/.idea
./idea
/samples
/py/__pycache__
/__pycache__
*.env
*.zip
*.exe
*.Ink
*.pdf
py/output/*.exe
*.xls
*.csv
*.xlsm
*.png
/py/names.py
/py/config.xlsx
/py/~$config.xlsx
/node_modulesig.xlsx
/node_modules