# Virtual environments
venv/
.venv/

# Build / output / input
build/
output/
input/
assets/
samples/

# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Py project folders
py/output/
py/assets/

# IDEs
.idea/
py/.idea/

# Node
node_modules/

# Environment files
*.env

# Archives / binaries
*.zip
*.exe

# Documents / data files
*.pdf
*.xls
*.xlsx
*.xlsm
*.csv
*.png

# Python files to ignore
py/names.py

# Config files
config.xlsx
py/config.xlsx
py/~$config.xlsx

# Misc
*.Ink
CLAUDE.md
